/* Remove default spacing around the web page */
body {
  margin: 0;
  padding: 0;
  background-color: #F2EFE7;
}


.navbar {
  background-color: #66A3BF; 
  width: 100%;
 
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 20px; 
  align-items: center;
}


.navbar a {
  display: block;
  text-decoration: none;
  color: #F2EFE7; 
  background-color: #66A3BF; 
  padding: 14px 20px;
  font-family:monospace;
  font-size: 14px;
}


.navbar a:hover {
    background-color: #C8DFDB ;
  
}

h1{
  color:#3368A0 ;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h2{
  color: #66A3BF;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

p{
  color: #3368A0;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


  ul {
  list-style-position: inside; 
  text-align: left;
  max-width: 600px;        
  margin: 0 auto;     
  color: #3368A0;      
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  color: #66A3BF;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    max-width: 900px;
    margin: 20px auto;
}

.img {
    flex: 1;
    max-width: 280px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
}

.img img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.img figcaption {
    margin-top: 6px;
    font-size: 0.85rem;
}
